<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset password</title>
    {% include 'tailwind.html' %}
  </head>
  <body class="flex flex-col text-slate-600 justify-between min-h-[100vh] bg-slate-100">
    <div
      class="p-5 flex flex-col self-center items-center w-full sm:w-2/3 md:w-1/2"
    >
      <h1 class="text-3xl text-yellow-600 font-extrabold">Forgot Password</h1>
      <form action="" method="post" class="w-full shadow-md p-5 space-y-6">
        {% csrf_token %}
        <div class="text-xl space-y-2 relative">
          <label for="password">Password</label>
          <input
            type="password"
            name="password"
            id="password"
            class="border-2 border-primary w-full rounded-md p-3 outline-none"
          />
          <button
            type="button"
            class="absolute right-0 px-5 py-3"
            id="password-visibility1"
          >
            <small id="visibility-text1">show</small>
          </button>
        </div>

        <div class="text-xl space-y-2 relative">
          <label for="passwordConfirm">Confirm Password</label>
          <input
            type="password"
            name="passwordConfirm"
            id="passwordConfirm"
            class="border-2 border-primary w-full rounded-md p-3 outline-none"
          />
          <button
            type="button"
            class="absolute right-0 px-5 py-3"
            id="password-visibility"
          >
            <small id="visibility-text">show</small>
          </button>
        </div>

        <button
          type="submit"
          class="bg-primary p-3 rounded-md w-full font-medium text-white text-xl"
        >
          Save
        </button>
        {% for message in messages %}
            <p class="text-red-500">{{message}}</p>
        {% endfor %}
      </form>
    </div>
  </body>
  {% load static %}
  <script src="{% static 'js/authenticate.js' %}"></script>
</html>
