<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{user}}</title>
    {% include 'tailwind.html' %}
</head>
<body class="bg-slate-100 flex flex-col  ">
    <div class="w-full flex items-center bg-slate-300 fixed top-0 left-0 p-2">
        <a href="{% url 'chats'  %}" class="text-2xl text-primary w-fit m-5">
           <i class="fa-solid fa-circle-arrow-left"></i>
       </a>
       <img src="{{user.image.url}}" alt="" class="w-14 h-14 rounded-full">
       <h1 class="text-2xl font-semibold">{{user.username|capfirst}}</h1>
     </div>
    <div class="w-full md:w-2/3 p-10 flex flex-col self-center mt-20 space-y-3 pb-40" id="message-block">
        {% for message in messages %}
            {% if message.sender != request.user %}
                <div class="max-w-[70%] w-fit flex-wrap border p-3 bg-yellow-400 rounded-r-3xl rounded-tl-3xl ">
                    <p class="">{{message.text}} </p>
                    <small>{{message.created|time}}</small>

                </div>

            {% else %}
                <div class="w-full flex justify-end">
                    <div class="max-w-[70%] w-fit flex-wrap border p-3 bg-primary rounded-l-3xl rounded-tr-3xl ">
                        <p class="">{{message.text}} </p>
                        <small>{{message.created|time}}</small>
                    </div>
            
                </div>
                
            {% endif %}

        {% endfor %}
        
       <div class="w-full fixed flex bottom-0 left-0 justify-center p-2">


        <div  class="w-full  bg-slate-50 p-1 pl-4 rounded-3xl flex items-start border-2 border-primary justify-between px-3">
        

       <textarea name="text" id="text" class="w-[95%]  bg-slate-50 outline-none max-h-40 rounded-lg " rows="2"></textarea>
       <button type="button" id="btn" onclick="send()">
        <i class="fa-regular fa-paper-plane text-primary"></i>
        send
       </button>

    </div>
    
     </div>
    </div>

    <!-- <script src="https://kit.fontawesome.com/bef6373e3c.js" crossorigin="anonymous"></script> -->
    <script>
        
        // document.getElementById('form').addEventListener('click', ()=> {
        //     console.log('form clicked')
        // })
        

        let id = Number('{{id}}')
        
        window.onload = () =>{
            let name = '{{user.id}}'
            window.scrollTo(0,document.body.scrollHeight)
            console.log(id)
        }

       

        const btn = document.getElementById('btn')
        function send(){
            id = id + 1
            console.log(id)
            var message = document.getElementById('text').value
            socket.send(
                JSON.stringify({
                    'message':message,
                    'room_name':'{{room_name}}',
                    'sender':'{{request.user}}',
                    'receiver':'{{user}}',
                    'id':id,
                })
            )
            
        }

        const websocketProtocol = window.location.protocol === 'https:'? 'wss': 'ws'
        const wsEndpoint = `${websocketProtocol}://${window.location.host}/ws/notifications/{{room_name}}/`
        const socket = new WebSocket(wsEndpoint)
        

        socket.onopen = (e) =>{
            console.log("websocket connection opened!")
        }

        socket.onclose = (e) =>{
            console.log("websocket connection closed!")
        }


        socket.onerror = function (e) {
    console.error("WebSocket encountered an error:", e);
    alert("Error with WebSocket connection. Please try again.");
};
        

        socket.addEventListener('message', (e) => {
            const data = JSON.parse(e.data)['message']
            console.log(data)

            var sender = data['sender']
            var text = data['message']
            var receiver = data['receiver']
            id = data['id']

            if (sender == '{{request.user}}'){
                document.getElementById('text').value = ''
            }

            date = new Date()
            time = date.getHours >= 12? `${date.getHours()}:${date.getMinutes()} p.m.` : date.getMinutes() > 9? `${date.getHours()}:${date.getMinutes()} a.m.`: `${date.getHours()}:0${date.getMinutes()} a.m.`
            var msg = document.getElementById('message-block')
            if (sender == '{{user}}') {
                msg.innerHTML +=  `
                    <div class="max-w-[70%] w-fit flex-wrap border p-3 bg-yellow-400 rounded-r-3xl rounded-tl-3xl">
                        <p>${text}</p>
                        <small>${time}</small>
                    </div>`}
            else {
                msg.innerHTML +=  `
                    <div class="w-full flex justify-end">
                        <div class="max-w-[70%] w-fit flex-wrap border p-3 bg-primary rounded-l-3xl rounded-tr-3xl">
                            <p>${text}</p>
                            <small>${time}</small>
                        </div>
                    </div>` }

            window.scrollTo(0,document.body.scrollHeight)
        })


    </script>
     <script src="https://kit.fontawesome.com/bef6373e3c.js" crossorigin="anonymous"></script>
</body>
</html>