<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    {% include 'adminNavbar.html' %}
    <h1>login</h1>
    <form action="" method="post">
        {% csrf_token %}

        <label for="email">Email</label>
        <input type="email" name="email" id="email" required>

        <label for="password">Password</label>
        <input type="password" name="password" id="password">

        <button type="submit">Login</button>
        <p>Don't have an account? <a href="{% url 'admin_signup' %}">Signup</a></p>
        <a href="{% url 'admin_forgot_password' %}">Forgot password?</a>
    </form>
    {% for message in messages %}
    <p>{{message}}</p>
    {% endfor %}
</body>
</html>